html {
    --background-color: #19191b;
    --text-color: #ffffff;
    --contrast-color: #3d3d43;
    --highlight-color: #ffffff;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: rgba(255,255,255,0); 
}
::-webkit-scrollbar-thumb {
    background: var(--contrast-color); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #454545; 
}

button {
    width: fit-content;
    
    padding: 10px;
    font-size:inherit;
    color: inherit;
    background-color: var(--contrast-color);
    border-style: none;
    border-radius: 10px;
}

#settings-container {
    
    display: flex;
    flex-direction: column;
}

#settings-box {
    position: absolute;
    background-color: var(--background-color);
    border-radius: 10px;
    width: 100%;
    max-width: 700px;
    height: fit-content;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 50;
    padding: 10px;
}

#settings-box h1 {
    margin: 0;
    text-align: center;
}
#settings-box h2 {
    padding: 0;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}
#settings-box button {
    margin-bottom: 10px;
}

.toggle-button-pair {
    display: flex;
}

.toggle-button-pair button {
    margin: 0;
}

.toggle-button-pair p {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}

.toggle-button-pair > button:first-of-type {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-right: 2px;
}

.toggle-button-pair > button:nth-of-type(2) {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.dark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    z-index: 49;
}

#library-container {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    margin-bottom: 0;
    overflow-y: auto;
    position: absolute;
    top: 70px;
    bottom: 0px;
}

.header {
    text-align: center;
}

.game-card {
    background-color: var(--contrast-color);
    width: 150px;
    height: calc(225px + 2em);
    margin-right: 15px;
    margin-bottom: 15px;
    text-align: center;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.game-card p {
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, 0);
    top: calc(225px + 0.5em);
    margin: 0;
}

.game-card img {
    position: absolute;
    width: 150px;
    height: 225px;
    top: 0;
    left: 0;
}

.highlight {
    background-color: var(--highlight-color);
    color: var(--background-color);
    box-shadow: 0px 11px 25px -15px var(--highlight-color);
}