body {
    background-color: #0e0e11;
    color: white;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: rgba(255,255,255,0); 
}
::-webkit-scrollbar-thumb {
    background: #292929; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #454545; 
}

#library-container {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    margin-bottom: 0;
    overflow-y: auto;
    position: absolute;
    top: 70px;
    bottom: 0px;
}

.game-card {
    background-color: #292929;
    width: 150px;
    height: calc(225px + 2em);
    margin-right: 15px;
    margin-bottom: 15px;
    text-align: center;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.game-card p {
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, 0);
    top: calc(225px + 0.5em);
    margin: 0;
}

.game-card img {
    position: absolute;
    width: 150px;
    height: 225px;
    top: 0;
    left: 0;
}

.highlight {
    background-color: white;color: black;
    box-shadow: 0px 11px 25px -15px rgba(255, 255, 255, 0.75);
}